---
http_interactions:
- request:
    method: post
    uri: https://api.phaxio.com/v2.1/phax_codes
    body:
      encoding: UTF-8
      string: metadata=This+is+a+test+PhaxCode
    headers:
      Authorization:
      - "<AUTH_HEADER>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"d7018df1bbd5a35311f00287eb47b065"
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"PhaxCode generated","data":{"identifier":"zGdRkLaYVc"}}'
  recorded_at: Thu, 04 Nov 2021 21:48:46 GMT
recorded_with: VCR 6.0.0
