---
http_interactions:
- request:
    method: get
    uri: https://api.phaxio.com/v2.1/phax_code
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"11302406cd979240ae27e366b402dd63"
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"Info for PhaxCode","data":{"identifier":"44GxJ7DAKn","created_at":"2021-11-04T16:48:07.000-05:00"}}'
  recorded_at: Thu, 04 Nov 2021 21:48:47 GMT
recorded_with: VCR 6.0.0
