---
http_interactions:
- request:
    method: post
    uri: https://api.phaxio.com/v2.1/phone_numbers
    body:
      encoding: UTF-8
      string: area_code=225&country_code=1
    headers:
      Authorization:
      - Basic dGVzdC1hcGkta2V5OnRlc3QtYXBpLXNlY3JldA==
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"26f3258916adfa754e8f1b238e5db130"
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"Number provisioned successfully!","data":{"phone_number":"+12258675309","city":"Baton
        Rouge","state":"Louisiana","country":"United States of America","cost":200,"last_billed_at":"2021-02-24T13:44:18.000-06:00","provisioned_at":"2021-02-24T13:44:18.000-06:00","callback_url":null,"ata_name":null}}'
  recorded_at: Wed, 24 Feb 2021 19:43:31 GMT
recorded_with: VCR 6.0.0
