---
http_interactions:
- request:
    method: get
    uri: https://api.phaxio.com/v2/phone_numbers/12258675309?api_key=<API_KEY>&api_secret=<API_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"b1274ae296f2576fae570b91c9baa18d"
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"Retrieved user phone numbers successfully","data":{"phone_number":"+12258675309","city":"Baton
        Rouge","state":"Louisiana","country":"United States of America","cost":200,"last_billed_at":"2017-10-30T21:51:12.000-05:00","provisioned_at":"2017-10-30T21:51:12.000-05:00","callback_url":null}}'
  recorded_at: Tue, 31 Oct 2017 02:55:10 GMT
recorded_with: VCR 3.0.3
