---
http_interactions:
- request:
    method: get
    uri: https://api.phaxio.com/v2.1/phone_numbers/12258675309
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dGVzdC1hcGkta2V5OnRlc3QtYXBpLXNlY3JldA==
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"ff9d755727aea40f301e2268235b9d19"
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"Retrieved user phone numbers successfully","data":{"phone_number":"+12258675309","city":"Baton
        Rouge","state":"Louisiana","country":"United States of America","cost":200,"last_billed_at":"2021-02-24T13:44:18.000-06:00","provisioned_at":"2021-02-24T13:44:18.000-06:00","callback_url":null,"ata_name":null}}'
  recorded_at: Wed, 24 Feb 2021 19:46:39 GMT
recorded_with: VCR 6.0.0
