---
http_interactions:
- request:
    method: get
    uri: https://api.phaxio.com/v2.1/phone_numbers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dGVzdC1hcGkta2V5OnRlc3QtYXBpLXNlY3JldA==
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2a2b7f3b168cdda8e7f2bd456d9f53cd"
      x-page:
      - '1'
      x-per-page:
      - '25'
      x-total:
      - '9'
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"Retrieved user phone numbers successfully","data":[{"phone_number":"+13372022383","city":"Lafayette,
        Lake Charles","state":"Louisiana","country":"United States of America","cost":200,"last_billed_at":"2021-02-16T16:10:50.000-06:00","provisioned_at":"2019-09-16T17:10:50.000-05:00","callback_url":null,"ata_name":null},{"phone_number":"+15558675309","city":"Seattle","state":"Washington","country":"United
        States of America","cost":200,"last_billed_at":"2021-02-04T15:25:35.000-06:00","provisioned_at":"2020-05-04T16:25:35.000-05:00","callback_url":null,"ata_name":null},{"phone_number":"+12253250536","city":"Baton
        Rouge","state":"Louisiana","country":"United States of America","cost":200,"last_billed_at":"2021-02-24T10:42:25.000-06:00","provisioned_at":"2021-02-24T10:42:25.000-06:00","callbac[...]
