---
http_interactions:
- request:
    method: get
    uri: https://api.phaxio.com/v2/phone_numbers?api_key=<API_KEY>&api_secret=<API_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"d146491212cda96fc08f7e8a8e6e5147"
      x-page:
      - '1'
      x-per-page:
      - '25'
      x-total:
      - '2'
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"Retrieved user phone numbers successfully","data":[{"phone_number":"+15558675309","city":"Baton
        Rouge","state":"Louisiana","country":"United States of America","cost":200,"last_billed_at":"2017-10-13T15:32:37.000-05:00","provisioned_at":"2016-10-13T15:32:37.000-05:00","callback_url":null},{"phone_number":"+12255000373","city":"Baton
        Rouge","state":"Louisiana","country":"United States of America","cost":200,"last_billed_at":"2017-10-30T21:51:12.000-05:00","provisioned_at":"2017-10-30T21:51:12.000-05:00","callback_url":null}],"paging":{"total":2,"per_page":25,"page":1}}'
  recorded_at: Tue, 31 Oct 2017 02:57:01 GMT
recorded_with: VCR 3.0.3
