---
http_interactions:
- request:
    method: delete
    uri: https://api.phaxio.com/v2/phone_numbers/+12258675309?api_key=<API_KEY>&api_secret=<API_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"72f232a3122ac0559f594e0dc20e2512"
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"Number released successfully!"}'
  recorded_at: Tue, 31 Oct 2017 03:01:31 GMT
recorded_with: VCR 3.0.3
