---
http_interactions:
- request:
    method: get
    uri: https://api.phaxio.com/v2.1/public/countries
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dGVzdC1hcGkta2V5OnRlc3QtYXBpLXNlY3JldA==
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1662637ad255ab3635318bef0bf5068b"
      x-page:
      - '1'
      x-per-page:
      - '25'
      x-total:
      - '250'
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"Data contains countries info","data":[{"name":"United
        States of America","alpha2":"US","country_code":1,"price_per_page":7,"send_support":"full","receive_support":"full"},{"name":"Canada","alpha2":"CA","country_code":1,"price_per_page":7,"send_support":"full","receive_support":"full"},{"name":"Puerto
        Rico","alpha2":"PR","country_code":1,"price_per_page":7,"send_support":"full","receive_support":"none"},{"name":"Argentina","alpha2":"AR","country_code":54,"price_per_page":10,"send_support":"full","receive_support":"none"},{"name":"Austria","alpha2":"AT","country_code":43,"price_per_page":10,"send_support":"full","receive_support":"none"},{"name":"Au[...]
