---
http_interactions:
- request:
    method: get
    uri: https://api.phaxio.com/v2/public/countries?api_key=<API_KEY>&api_secret=<API_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"663bfaccf5b6e4ededbd00fd1ec1ef1b"
      x-page:
      - '1'
      x-per-page:
      - '25'
      x-total:
      - '51'
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"Data contains countries info","data":[{"name":"United
        States of America","alpha2":"US","country_code":1,"price_per_page":7,"send_support":"full","receive_support":"full"},{"name":"Canada","alpha2":"CA","country_code":1,"price_per_page":7,"send_support":"full","receive_support":"full"},{"name":"Puerto
        Rico","alpha2":"PR","country_code":1,"price_per_page":10,"send_support":"full","receive_support":"none"},{"name":"Argentina","alpha2":"AR","country_code":54,"price_per_page":10,"send_support":"full","receive_support":"none"},{"name":"Austria","alpha2":"AT","country_code":43,"price_per_page":10,"send_support":"full","receive_support":"none"},{"name":"A[...]
