---
http_interactions:
- request:
    method: get
    uri: https://api.phaxio.com/v2.1/phone_numbers/+15558675309
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1e6be6d602ea5a2f53aa56f70fd62620"
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"Retrieved user phone numbers successfully","data":{"phone_number":"+15558675309","city":"Birmingham,
        Clanton, Jasper","state":"Alabama","country":"United States of America","cost":200,"last_billed_at":"2021-11-02T18:18:30.000-05:00","provisioned_at":"2021-11-02T18:18:30.000-05:00","callback_url":null,"ata_name":null}}'
  recorded_at: Thu, 04 Nov 2021 22:04:07 GMT
recorded_with: VCR 6.0.0
