---
http_interactions:
- request:
    method: get
    uri: https://api.phaxio.com/v2.1/phone_numbers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"dc38c10aaf984fef8aa3fc92bfb27648"
      x-page:
      - '1'
      x-per-page:
      - '25'
      x-total:
      - '20'
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"Retrieved user phone numbers successfully","data":[{"phone_number":"+12486215381","city":"Farmington
        Hills, Pontiac, Rochester Hills","state":"Michigan","country":"United States
        of America","cost":200,"last_billed_at":"2021-11-02T16:56:03.000-05:00","provisioned_at":"2021-11-02T16:56:03.000-05:00","callback_url":null,"ata_name":null},{"phone_number":"+12182921552","city":"Duluth,
        Ely, Moorhead","state":"Minnesota","country":"United States of America","cost":200,"last_billed_at":"2021-11-02T17:02:35.000-05:00","provisioned_at":"2021-11-02T17:02:35.000-05:00","callback_url":null,"ata_name":null},{"phone_number":"+12345256684","city":"Akron,
        Canton, Youngstown","state":"Ohio","country":"United States of America","cost":200,"last_billed_at":"2021-11-02T17:03:21.000-05:00","provisioned_at":"2021-11-02T17:03:[...]
