---
http_interactions:
- request:
    method: get
    uri: https://api.phaxio.com/v2.1/phone_numbers/+15558675309
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f835d96d10d4204573115e810eba6ab3"
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"Retrieved user phone numbers successfully","data":{"phone_number":"+15558675309","city":"Bossier
        City, Monroe, Shreveport","state":"Louisiana","country":"United States of
        America","cost":200,"last_billed_at":"2022-01-01T08:09:37.000-06:00","provisioned_at":"2019-05-01T09:09:37.000-05:00","callback_url":null,"ata_name":null}}'
  recorded_at: Wed, 19 Jan 2022 21:48:57 GMT
recorded_with: VCR 6.0.0
