---
http_interactions:
- request:
    method: post
    uri: https://api.phaxio.com/v2/faxes/55405187/cancel
    body:
      encoding: UTF-8
      string: api_key=<API_KEY>&api_secret=<API_SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"5f351f3a724adbfc0b22effe1c96a1ad"
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"Fax cancellation scheduled successfully.","data":{"id":55405187}}'
  recorded_at: Fri, 27 Oct 2017 19:41:31 GMT
recorded_with: VCR 3.0.3
