---
http_interactions:
- request:
    method: delete
    uri: https://api.phaxio.com/v2/faxes/1234/file?api_key=<API_KEY>&api_secret=<API_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0174669af39608b5375cab2e554fd1d2"
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"Deleted files successfully!"}'
  recorded_at: Thu, 02 Nov 2017 18:34:10 GMT
recorded_with: VCR 3.0.3
