---
http_interactions:
- request:
    method: delete
    uri: https://api.phaxio.com/v2/faxes/1234?api_key=<API_KEY>&api_secret=<API_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"a7c920925a06bffb5bf9adc15cbbc926"
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"Deleted fax successfully!"}'
  recorded_at: Thu, 02 Nov 2017 18:25:42 GMT
recorded_with: VCR 3.0.3
