---
http_interactions:
- request:
    method: get
    uri: https://api.phaxio.com/v2.1/faxes/253962924
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dGVzdC1hcGkta2V5OnRlc3QtYXBpLXNlY3JldA==
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"db5e8fc1a8305cde75adee13942feceb"
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"Metadata for fax","data":{"id":253962924,"direction":"sent","num_pages":0,"status":"queued","is_test":true,"created_at":"2021-02-24T12:51:12.000-06:00","caller_id":null,"from_number":null,"completed_at":null,"caller_name":null,"cost":0,"tags":{},"recipients":[{"phone_number":"+15551231234","status":null,"retry_count":0,"completed_at":null,"bitrate":null,"resolution":null,"error_type":null,"error_id":null,"error_message":null,"phone_calls":[]}],"to_number":null,"error_id":null,"error_type":null,"error_message":null,"barcodes":[]}}'
  recorded_at: Wed, 24 Feb 2021 18:50:26 GMT
recorded_with: VCR 6.0.0
