---
http_interactions:
- request:
    method: get
    uri: https://api.phaxio.com/v2/faxes/55315341/?api_key=<API_KEY>&api_secret=<API_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2ad2541a97e6acc8827f31bca6c5b4cc"
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"Metadata for fax","data":{"id":55315341,"direction":"sent","num_pages":1,"status":"success","is_test":true,"created_at":"2017-10-26T13:09:42.000-05:00","caller_id":null,"from_number":null,"completed_at":"2017-10-26T13:09:45.000-05:00","cost":7,"tags":{},"recipients":[{"phone_number":"+12258675309","status":"success","retry_count":0,"completed_at":"2017-10-26T13:09:44.000-05:00","bitrate":14400,"resolution":7700,"error_type":null,"error_id":null,"error_message":null}],"to_number":null,"error_id":null,"error_type":null,"error_message":null}}'
  recorded_at: Thu, 26 Oct 2017 18:30:59 GMT
recorded_with: VCR 3.0.3
