---
http_interactions:
- request:
    method: get
    uri: https://api.phaxio.com/v2/faxes/1234?api_key=<API_KEY>&api_secret=<API_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"9274b8f2f1cea30f9c398d83d5ea296c"
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"Metadata for fax","data":{"id":1234,"direction":"sent","num_pages":1,"status":"inprogress","is_test":false,"created_at":"2017-10-27T14:41:11.000-05:00","caller_id":null,"from_number":null,"completed_at":null,"cost":7,"tags":{},"recipients":[{"phone_number":"+15558675309","status":"callactive","retry_count":0,"completed_at":null,"bitrate":null,"resolution":null,"error_type":null,"error_id":null,"error_message":null}],"to_number":null,"error_id":null,"error_type":null,"error_message":null}}'
  recorded_at: Fri, 27 Oct 2017 19:41:23 GMT
recorded_with: VCR 3.0.3
