---
http_interactions:
- request:
    method: get
    uri: https://api.phaxio.com/v2/faxes?api_key=<API_KEY>&api_secret=<API_SECRET>&created_before=2017-10-28T00%3A17%3A00%2B00%3A00
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"d0c80dddb80306236010e57922a5cc8c"
      x-page:
      - '1'
      x-per-page:
      - '25'
      x-total:
      - '5'
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"Retrieved faxes successfully","data":[{"id":55405223,"direction":"received","num_pages":1,"status":"success","is_test":false,"created_at":"2017-10-27T14:41:43.000-05:00","caller_id":null,"from_number":"+18084684020","completed_at":"2017-10-27T14:41:39.000-05:00","cost":7,"tags":{},"recipients":null,"to_number":"+15558675309","error_id":null,"error_type":null,"error_message":null},{"id":55405187,"direction":"sent","num_pages":1,"status":"failure","is_test":false,"created_at":"2017-10-27T14:41:11.000-05:00","caller_id":null,"from_number":null,"completed_at":"2017-10-27T14:41:31.000-05:00","cost":0,"tags":{},"recipients":[{"phone_number":"+15558675309","status":"failure","retry_count":0,"completed_at":"2017-10-27T14:41:31.000-05:00","bitrate":null,"resolution":null,"error_type":"faxError","error_id":75,"error_message":"Manually
        canceled by user"}],"to_number":null,"error_id":75,"error_type":"faxError","error_message":"Manually
        canceled by user"},{"id":55404381,"direction":"sent","num_pages":0,"status":"failure","is_test":false,"created_at":"2017-10-27T14:32:35.000-05:00","caller_id":null,"from_number":null,"completed_at":"2017-10-27T14:32:37.000-05:00","cost":0,"tags":{},"recipients":[{"phone_number":"+15558675309","status":"failure","[...]
