---
http_interactions:
- request:
    method: get
    uri: https://api.phaxio.com/v2.1/faxes?created_before=2017-10-28T00%3A17%3A00%2B00%3A00
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dGVzdC1hcGkta2V5OnRlc3QtYXBpLXNlY3JldA==
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"30adb6c2212b9c553cc0a39b59a2e40a"
      x-page:
      - '1'
      x-per-page:
      - '25'
      x-total:
      - '0'
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"Retrieved faxes successfully","data":[],"paging":{"total":0,"per_page":25,"page":1}}'
  recorded_at: Wed, 24 Feb 2021 18:54:22 GMT
recorded_with: VCR 6.0.0
