---
http_interactions:
- request:
    method: get
    uri: https://api.phaxio.com/v2.1/faxes/253983675
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dGVzdC1hcGkta2V5OnRlc3QtYXBpLXNlY3JldA==
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"85e492b3efc1b9ba586bd3e71d45c5ba"
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"Metadata for fax","data":{"id":253983675,"direction":"sent","num_pages":1,"status":"inprogress","is_test":false,"created_at":"2021-02-24T13:36:48.000-06:00","caller_id":null,"from_number":null,"completed_at":null,"caller_name":null,"cost":7,"tags":{},"recipients":[{"phone_number":"+15558675309","status":"callactive","retry_count":0,"completed_at":null,"bitrate":null,"resolution":null,"error_type":null,"error_id":null,"error_message":null,"phone_calls":[{"duration":0,"status":"callactive","completed_at":null,"error_type":null,"error_id":null,"error_message":null}]}],"to_number":null,"error_id":null,"error_type":null,"error_message":null,"barcodes":[]}}'
  recorded_at: Wed, 24 Feb 2021 19:36:12 GMT
recorded_with: VCR 6.0.0
