---
http_interactions:
- request:
    method: post
    uri: https://api.phaxio.com/v2.1/faxes/253964881/resend
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic dGVzdC1hcGkta2V5OnRlc3QtYXBpLXNlY3JldA==
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"c913676c758ee5ebb4cd5c50e687d644"
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"Fax queued for resending","data":{"id":253965118}}'
  recorded_at: Wed, 24 Feb 2021 18:55:24 GMT
recorded_with: VCR 6.0.0
