---
http_interactions:
- request:
    method: post
    uri: https://api.phaxio.com/v2/faxes/1234/resend
    body:
      encoding: UTF-8
      string: api_key=<API_KEY>&api_secret=<API_SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"cd24c7f7416f6ba33a090724da943372"
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"Fax queued for resending","data":{"id":5678}}'
  recorded_at: Mon, 30 Oct 2017 19:44:32 GMT
recorded_with: VCR 3.0.3
