---
http_interactions:
- request:
    method: get
    uri: https://api.phaxio.com/v2.1/port_orders
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f7a596bf5fb0ee52aaf957813df95e61"
      x-page:
      - '1'
      x-per-page:
      - '25'
      x-total:
      - '1'
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"Retrieved port orders successfully","data":[{"id":5,"contact_number":"+15558675309","contact_email":"julien@phaxio.com","name_on_account":"THIS
        IS A TEST","account_identifier":"1234","name_of_business":null,"provider_name":"DO
        NOT PORT --Julien","port_out_pin":null,"port_type":"residential","billing_number":null,"billing_address1":null,"billing_address2":null,"billing_city":null,"billing_state":null,"billing_zip":null,"esig":"NOT
        A VALID SIGNATURE","status":"open","quantity":1,"created_at":"2021-12-09T00:01:57.000-06:00","updated_at":"2021-12-09T00:01:57.000-06:00","completed_at":null,"requested_for":null,"bill_received_at":null,"port_numbers":[{"id":24,"port_number":"+15558675309","status":"open"}]}],"paging":{"total":1,"per_page":25,"page":1}}'
  recorded_at: Thu, 09 Dec 2021 06:02:41 GMT
recorded_with: VCR 6.0.0
