---
http_interactions:
- request:
    method: get
    uri: https://api.phaxio.com/v2.1/account/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"ec3c8a9d370f99638f5670ec4ac6fc00"
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"Account status retrieved successfully","data":{"balance":1076,"faxes_today":{"sent":0,"received":0},"faxes_this_month":{"sent":0,"received":0}}}'
  recorded_at: Thu, 04 Nov 2021 21:08:25 GMT
recorded_with: VCR 6.0.0
