---
http_interactions:
- request:
    method: post
    uri: https://api.phaxio.com/v2.1/atas
    body:
      encoding: UTF-8
      string: name=Test+ATA
    headers:
      Authorization:
      - "<AUTH_HEADER>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2240be8a677db0228884851090387d4a"
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"ATA created successfully","data":{"id":332,"name":"Test
        ATA","description":null,"user_phone_number":null,"domain":"ata.staging.phaxio.com","last_registered":null,"expiry_time":null,"user_agent":null,"sip_uri":null,"mac_address":null,"group":null,"username":"s5beofdgwn","password":"y6wt3q215qsec25i"}}'
  recorded_at: Wed, 19 Jan 2022 21:52:09 GMT
recorded_with: VCR 6.0.0
