---
http_interactions:
- request:
    method: post
    uri: https://api.phaxio.com/v2.1/atas
    body:
      encoding: UTF-8
      string: name=Test+ATA
    headers:
      Authorization:
      - "<AUTH_HEADER>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"536d2044c4783d836261ec6017185c3f"
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"ATA created successfully","data":{"id":342,"name":"Test
        ATA","description":null,"user_phone_number":null,"domain":"ata.staging.phaxio.com","last_registered":null,"expiry_time":null,"user_agent":null,"sip_uri":null,"mac_address":null,"group":null,"username":"fd16l2dg33","password":"qsfpji7yzwn9laxn"}}'
  recorded_at: Wed, 19 Jan 2022 22:04:32 GMT
- request:
    method: delete
    uri: https://api.phaxio.com/v2.1/atas/342
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"b5f064faa0e68681d9afb0081d56421d"
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"ATA deleted successfully","data":{"id":342}}'
  recorded_at: Wed, 19 Jan 2022 22:04:33 GMT
recorded_with: VCR 6.0.0
