---
http_interactions:
- request:
    method: get
    uri: https://api.phaxio.com/v2.1/atas
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"27973b206337bb31cc316040ad40aa86"
      x-page:
      - '1'
      x-per-page:
      - '25'
      x-total:
      - '19'
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"Retrieved ATAs successfully","data":[{"id":297,"name":"asdf","description":"asdf","user_phone_number":null,"domain":"ata.staging.phaxio.com","last_registered":null,"expiry_time":null,"user_agent":null,"sip_uri":null,"mac_address":null,"group":null},{"id":332,"name":"Test
        ATA","description":null,"user_phone_number":null,"domain":"ata.staging.phaxio.com","last_registered":null,"expiry_time":null,"user_agent":null,"sip_uri":null,"mac_address":null,"group":null},{"id":333,"name":"Test
        ATA","description":null,"user_phone_number":null,"domain":"ata.staging.phaxio.com","last_registered":null,"expiry_time":null,"user_agent":null,"sip_uri":null,"mac_address":null,"group":null},{"id":334,"name":"Test
        ATA","description":[...]
