---
http_interactions:
- request:
    method: get
    uri: https://api.phaxio.com/v2.1/atas/provisioning_urls
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"9391d72e15448827eafbd9b139e0c6e8"
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"Retrieved provisioning URLs","data":{"Grandstream":"provision.staging.phaxio.com/test-ata-provisioning-key","OBi":"https://provision.staging.phaxio.com/test-ata-provisioning-key/$MAC.xml","Netgen":"https://provision.staging.phaxio.com/test-ata-provisioning-key"}}'
  recorded_at: Wed, 19 Jan 2022 22:33:57 GMT
recorded_with: VCR 6.0.0
