---
http_interactions:
- request:
    method: post
    uri: https://api.phaxio.com/v2.1/atas
    body:
      encoding: UTF-8
      string: name=Test+ATA
    headers:
      Authorization:
      - "<AUTH_HEADER>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"5fbbd61329d6254f14db0d7215fbfa63"
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"ATA created successfully","data":{"id":350,"name":"Test
        ATA","description":null,"user_phone_number":null,"domain":"ata.staging.phaxio.com","last_registered":null,"expiry_time":null,"user_agent":null,"sip_uri":null,"mac_address":null,"group":null,"username":"z2ihyrzia5","password":"m318wv039wpff37l"}}'
  recorded_at: Wed, 19 Jan 2022 22:21:53 GMT
- request:
    method: get
    uri: https://api.phaxio.com/v2.1/atas/350
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"4f8ce54369aeee5eebb19c5b3a8d70a5"
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"Metadata for ATA","data":{"id":350,"name":"Test
        ATA","description":null,"user_phone_number":null,"domain":"ata.staging.phaxio.com","last_registered":null,"expiry_time":null,"user_agent":null,"sip_uri":null,"mac_address":null,"group":null}}'
  recorded_at: Wed, 19 Jan 2022 22:21:53 GMT
recorded_with: VCR 6.0.0
