---
http_interactions:
- request:
    method: post
    uri: https://api.phaxio.com/v2.1/atas
    body:
      encoding: UTF-8
      string: name=Test+ATA
    headers:
      Authorization:
      - "<AUTH_HEADER>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"8b03eeba2207e5e23bb6a102947c32e0"
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"ATA created successfully","data":{"id":341,"name":"Test
        ATA","description":null,"user_phone_number":null,"domain":"ata.staging.phaxio.com","last_registered":null,"expiry_time":null,"user_agent":null,"sip_uri":null,"mac_address":null,"group":null,"username":"95yem0tpee","password":"5geixt2o45brncd4"}}'
  recorded_at: Wed, 19 Jan 2022 22:02:39 GMT
- request:
    method: patch
    uri: https://api.phaxio.com/v2.1/atas/341/regenerate_credentials
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<AUTH_HEADER>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"b07982b93e703ce70647c0e3af411f1a"
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"ATA credentials regenerated","data":{"id":341,"name":"Test
        ATA","description":null,"user_phone_number":null,"domain":"ata.staging.phaxio.com","last_registered":null,"expiry_time":null,"user_agent":null,"sip_uri":null,"mac_address":null,"group":null,"username":"2wwg50mh2t","password":"5ilsfqujkrohjgce"}}'
  recorded_at: Wed, 19 Jan 2022 22:02:40 GMT
recorded_with: VCR 6.0.0
