---
http_interactions:
- request:
    method: post
    uri: https://api.phaxio.com/v2.1/atas
    body:
      encoding: UTF-8
      string: name=Test+ATA
    headers:
      Authorization:
      - "<AUTH_HEADER>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"386eef696cfa3569b28a38ea00f2b925"
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"ATA created successfully","data":{"id":348,"name":"Test
        ATA","description":null,"user_phone_number":null,"domain":"ata.staging.phaxio.com","last_registered":null,"expiry_time":null,"user_agent":null,"sip_uri":null,"mac_address":null,"group":null,"username":"6rqnrr0jhc","password":"ppprt87nlhs0psvi"}}'
  recorded_at: Wed, 19 Jan 2022 22:13:56 GMT
- request:
    method: post
    uri: https://api.phaxio.com/v2.1/atas/348/phone_numbers/+15558675309
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<AUTH_HEADER>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"45b7a68a0761a863f4ece867e2665df8"
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"Phone number added to ATA","data":{"phone_number":"+1
        318-225-8808"}}'
  recorded_at: Wed, 19 Jan 2022 22:13:57 GMT
- request:
    method: delete
    uri: https://api.phaxio.com/v2.1/atas/348/phone_numbers/+15558675309
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"33cb6f600ccce123dddb05d1452c40c1"
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"Phone number removed from ATA","data":{"phone_number":"+1
        318-225-8808"}}'
  recorded_at: Wed, 19 Jan 2022 22:13:57 GMT
recorded_with: VCR 6.0.0
