---
http_interactions:
- request:
    method: post
    uri: https://api.phaxio.com/v2.1/atas
    body:
      encoding: UTF-8
      string: name=Test+ATA
    headers:
      Authorization:
      - "<AUTH_HEADER>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"d6fea57ae01c594db6124da7f7863872"
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"ATA created successfully","data":{"id":338,"name":"Test
        ATA","description":null,"user_phone_number":null,"domain":"ata.staging.phaxio.com","last_registered":null,"expiry_time":null,"user_agent":null,"sip_uri":null,"mac_address":null,"group":null,"username":"0xiocwxhf8","password":"wxmn9q0k8mt1burt"}}'
  recorded_at: Wed, 19 Jan 2022 21:58:29 GMT
- request:
    method: patch
    uri: https://api.phaxio.com/v2.1/atas/338
    body:
      encoding: UTF-8
      string: name=New+Name
    headers:
      Authorization:
      - "<AUTH_HEADER>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f07c85b3289fc274fbf1f227b7072d49"
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"ATA updated successfully","data":{"id":338,"name":"New
        Name","description":null,"user_phone_number":null,"domain":"ata.staging.phaxio.com","last_registered":null,"expiry_time":null,"user_agent":null,"sip_uri":null,"mac_address":null,"group":null}}'
  recorded_at: Wed, 19 Jan 2022 21:58:30 GMT
recorded_with: VCR 6.0.0
