---
http_interactions:
- request:
    method: post
    uri: https://api.phaxio.com/v2.1/port_orders
    body:
      encoding: UTF-8
      string: account_identifier=1234&contact_email=julien%40phaxio.com&contact_number=%2B12055744647&esig=NOT+A+VALID+SIGNATURE&has_bill=true&legal_agreement=true&name_on_account=THIS+IS+A+TEST&port_numbers%5B%5D=%2B12055744647&port_type=residential&provider_name=DO+NOT+PORT+--Julien
    headers:
      Authorization:
      - "<AUTH_HEADER>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1d118354805368ddc2166ad622f7e308"
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"Port order created","data":{"id":35,"contact_number":"+15558675309","contact_email":"julien@phaxio.com","name_on_account":"THIS
        IS A TEST","account_identifier":"1234","name_of_business":null,"provider_name":"DO
        NOT PORT --Julien","port_out_pin":null,"port_type":"residential","billing_number":null,"billing_address1":null,"billing_address2":null,"billing_city":null,"billing_state":null,"billing_zip":null,"esig":"NOT
        A VALID SIGNATURE","status":"open","quantity":1,"created_at":"2021-11-04T17:17:03.000-05:00","updated_at":"2021-11-04T17:17:03.000-05:00","completed_at":null,"requested_for":null,"bill_received_at":null,"port_numbers":[{"id":3158,"port_number":"+15558675309","status":"open"}]}}'
  recorded_at: Thu, 04 Nov 2021 22:17:44 GMT
- request:
    method: get
    uri: https://api.phaxio.com/v2.1/port_numbers/3158/notes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"4313698e3ed6046aa9b1fa8cfb1ad613"
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"Retrieved port number notes","data":[]}'
  recorded_at: Thu, 04 Nov 2021 22:17:45 GMT
recorded_with: VCR 6.0.0
