---
http_interactions:
- request:
    method: get
    uri: https://api.phaxio.com/v2/account/status?api_key=<API_KEY>&api_secret=<API_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"97e961f35ce919cc15be5de8e77175d7"
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"Account status retrieved successfully","data":{"balance":810,"faxes_today":{"sent":5,"received":5},"faxes_this_month":{"sent":13,"received":18}}}'
  recorded_at: Tue, 31 Oct 2017 03:07:02 GMT
recorded_with: VCR 3.0.3
