---
http_interactions:
- request:
    method: get
    uri: https://api.phaxio.com/v2.1/account/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dGVzdC1hcGkta2V5OnRlc3QtYXBpLXNlY3JldA==
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"fdf78451cea62a6da8f7a06bb945480d"
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"Account status retrieved successfully","data":{"balance":8325,"faxes_today":{"sent":6,"received":8},"faxes_this_month":{"sent":6,"received":8}}}'
  recorded_at: Wed, 24 Feb 2021 19:37:23 GMT
recorded_with: VCR 6.0.0
