---
http_interactions:
- request:
    method: post
    uri: https://api.phaxio.com/v2.1/phax_codes
    body:
      encoding: UTF-8
      string: metadata=This+is+a+test+PhaxCode
    headers:
      Authorization:
      - Basic dGVzdC1hcGkta2V5OnRlc3QtYXBpLXNlY3JldA==
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2cecb91a8d9f69a75263567882a37e0d"
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"PhaxCode generated","data":{"identifier":"-Y3jxX"}}'
  recorded_at: Wed, 24 Feb 2021 19:39:18 GMT
recorded_with: VCR 6.0.0
