---
http_interactions:
- request:
    method: get
    uri: https://api.phaxio.com/v2.1/phax_code
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dGVzdC1hcGkta2V5OnRlc3QtYXBpLXNlY3JldA==
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"9ab393836ffed9c72577559d367c3e6e"
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"Info for PhaxCode","data":{"identifier":"1eKfEx","created_at":"2017-11-06T03:19:44.000-06:00"}}'
  recorded_at: Wed, 24 Feb 2021 19:38:29 GMT
recorded_with: VCR 6.0.0
