---
http_interactions:
- request:
    method: get
    uri: https://api.phaxio.com/v2.1/phax_codes/-Y3jxX
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dGVzdC1hcGkta2V5OnRlc3QtYXBpLXNlY3JldA==
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"78c920ebcae905a8a076a0af95923885"
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"Info for PhaxCode","data":{"identifier":"-Y3jxX","created_at":"2017-11-06T02:57:46.000-06:00","metadata":"This
        is a test PhaxCode"}}'
  recorded_at: Wed, 24 Feb 2021 19:42:46 GMT
recorded_with: VCR 6.0.0
