---
http_interactions:
- request:
    method: get
    uri: https://api.phaxio.com/v2/public/area_codes?api_key=<API_KEY>&api_secret=<API_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"56470adee9a78769884080bc4b628386"
      x-page:
      - '1'
      x-per-page:
      - '25'
      x-total:
      - '329'
    body:
      encoding: UTF-8
      string: '{"success":true,"message":"Data contains found available area codes","data":[{"country_code":1,"area_code":201,"city":"Bayonne,
        Jersey City, Union City","state":"New Jersey","country":"United States of
        America","toll_free":false},{"country_code":1,"area_code":202,"city":"Washington","state":"District
        of Columbia","country":"United States of America","toll_free":false},{"country_code":1,"area_code":203,"city":"Bridgeport,
        Danbury, Meriden","state":"Connecticut","country":"United States of America","toll_free":false},{"country_code":1,"area_code":204,"city":"Brandon,
        Winnipeg","state":"Manitoba","country":"Canada","toll_free":false},{"country_code":1,"area_code":205,"city":"Birmingham,
      [...]
